.products {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    @media (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    a {
        text-decoration: none;
        color: #2c3e50;
        &:hover {
            color: rgba($color: #2c3e50, $alpha: 0.9);
            text-decoration:underline;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &__container {
        margin: 2px 5px 2px 0px;
        border: 1px solid #2c3e50;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        width: 240px;
        height: 240px;
        @media (max-width: 767px) {
            width: 100%;
            margin: 10px;
        }
        &__up {
            display: flex;
            align-items: center;
            justify-content: center;
            &__img {
                width: 120px;
                height: 120px;
                object-fit: contain;
            }
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__title {
                font-size: 18px;
                font-weight: 500;
            }
        }
        
    }
}