.cart {
    display: flex;
    margin: 20px;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba($color: #2c3e50, $alpha: 0.2);
    }

    &__left {
        display: flex;
        flex: 7;

    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 3;
        position: sticky;
        top: 66px;
        position: -webkit-sticky;
        height: 240px;
        background: transparent;
        border: 1px solid rgba($color: #2c3e50, $alpha: 0.9);
        border-radius: 20px;

        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 20px;
            padding: 24px 0;
            font-size: 24px;
        }

        &__form {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &__button {
                color: #2c3e50;
                font-weight: bold;
                font-size: 18px;
                border: 1px solid rgba($color: #2c3e50, $alpha: 0.9);
                background: none;
                padding: 10px;
                margin-top: 20px;
                border-radius: 20px;

                &:hover {
                    background: #2c3e50;
                    color: white;
                    cursor: pointer;
                }

                &:active {
                    background: white;
                    color: #2c3e50;
                    cursor: pointer;
                }
            }
        }
    }
}