.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgba($color: #2c3e50, $alpha: 0.2);
    padding: 35px 0;
    a {
        text-decoration: none;
        color: #2c3e50;
    }
    & Button {
        padding-right: 10px;
        padding-left: 10px;
        color: #2c3e50;

        

        &:hover {
            background: rgba($color: #2c3e50, $alpha: 0.15);
            color: #2c3e50;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        &__ul {
            list-style: none;

            &__li {
                width: 100%;

                & Button {
                    padding-right: 10px;
                    padding-left: 10px;
                    color: #2c3e50;

                    a {
                        text-decoration: none;
                        color: #2c3e50;
                    }

                    &:hover {
                        background: rgba($color: #2c3e50, $alpha: 0.15);
                        color: #2c3e50;
                    }
                }
            }
        }
    }

}