.cart__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    position: sticky;
    top: 54px;
    position: -webkit-sticky;
    background: transparent;
    border: 1px solid rgba($color: #2c3e50, $alpha: 0.9);
    border-radius: 20px;
    color: #2c3e50;
    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 20px;
        padding: 24px 0;
        font-size: 24px;
    }
    &__button {
        color: #2c3e50;
        font-weight: bold;
        font-size: 18px;
        border: 1px solid rgba($color: #2c3e50, $alpha: 0.9);
        background: none;
        padding: 10px;
        margin-top: 20px;
        border-radius: 20px;

        &:hover {
            background: #2c3e50;
            color: white;
            cursor: pointer;
        }

        &:active {
            background: white;
            color: #2c3e50;
            cursor: pointer;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
}