.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 10px;
    background: transparent;
    z-index: 1000;
    border-bottom: 1px solid rgba($color: #2c3e50, $alpha: 0.2);

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        height: 120px;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        background: transparent;
        position: relative;
    }

    a {
        text-decoration: none;
        color: #2c3e50;
        
    }

    &__left {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2c3e50;


        &:hover {
            color: rgba($color: #2c3e50, $alpha: 0.9);
            transform: scale(1.06);
        }
    }

    &__center {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2c3e50;
        border: 1px solid #2c3e50;
        border-radius: 10px;
        padding: 2px 10px;

        @media (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

        &__input {
            border: none;
            font-size: 1rem;
            outline: none;
            color: #2c3e50;
            background-color: transparent;
        }

        &__icon {
            cursor: pointer;

            &:hover {
                transform: scale(1.06);
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;

        

        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            
            &__listItem {
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 1rem;
                color: #2c3e50;
                text-transform: uppercase;
                padding: 0 10px;
                &:hover {
                    text-decoration: underline;
                    transform: scale(1.05);
                }
            }

            &__cart {
                color: #2c3e50;
            }
        }
    }
}