.singleProduct {
    display: flex;
    a {
        text-decoration: none;
        color: #2c3e50;
        :hover {
            color: rgba($color: #2c3e50, $alpha: 0.9);
        }
    }
    &__container {
        display: flex;
        margin: 66px 30px 30px;
        &__left {
            img {
                width: 500px;
                height: 500px;
                object-fit: contain;
            }
        }
        &__right {
            color: #2c3e50;
            padding: 50px 25px;
            h1 {
                margin-bottom: 50px;
            }
            p {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 50px;
            }
            h4 {
                font-size: 24px;
            }


            &__button {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: start;
    
                button {
                    font-size: 24px;
                    padding: 8px 16px;
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    margin-right: 10px;
                    color: #2c3e50;
                    border-radius: 10px;
                }
    
                :hover {
                    background-color: #2c3e50;
                    color: white;
                }
    
                :active {
                    color: #2c3e50;
                    background: white;
                }
    
            }


        }
    }
}